body .pane{background:#eaedf2;}
.tag{background: #E20701;border-radius:2px ;color: #fff;padding: 0 2px;margin-right: 0.35em;line-height: 1em;}
.tag_gray{background: #999;}
.tag_green{background: #33cd5f;}
body a{color: #626262;text-decoration: none;}
.warm{text-align:center;color:red;padding: 0 0 1em;}
.warm img{padding:2em 0;}
.warm p{color:#cdcdcd;}
.borderradius{border-radius:2em;}
.body_to_center{margin: 0 auto; max-width: 640px; min-width: 320px; position: relative;}
.searchGoods input{background:none;}
.searchGoods .item-input-wrapper{background:#fff;border-radius:2em;}
ion-header-bar.nav_red{background:#ff1704;color:#fff;padding:0;border:0;}
ion-header-bar.nav_red headmenu{width:100%;}
ion-header-bar.nav_red h3{color:#fff;}
ion-header-bar.nav_red img{width: 32px;}
ion-header-bar.nav_red h3{font-size:1em;line-height:34px;margin-bottom: 0px;}
ion-header-bar.nav_red .button-clear{color:#fff;}
footer{margin-top: 10px;padding: 1em;}
.icon_bg{background:url(../img/icon_bg.png) no-repeat left top;}
.icon_bg_small1{display:block;width:64px;height:64px;}
.incon_bgqsh{background-position:0 0;}
.incon_bgrx{background-position:0 -64px;}
.bg-write{background:#fff;}
.btnCart{position: absolute;z-index: 9999;right:0 ;top: 0;}
/*.index_product_list{width:95%;margin:0 auto;}*/
.index_icon{max-width: 100%;}
.index_icon div.col-xs-6:nth-child(1){border-right:1px solid #eaeaea;}
.index_icon div i{display:block;margin-top: 20px;}
.index_icon .col-xs-6{text-indent: 1em;padding-bottom: 1em;}
.index_list row{padding-bottom:0;text-align: center;}
/*.index_list .row{margin:0;}*/
.index_list .row img{max-width: 92%;display: inline;}
.index_list nav{font-size: 1em;border-bottom:1px solid #7a7a7a;position:relative;margin:1.65em 0;}
.index_list nav a{font-size: 1.25em;height:2em;line-height:2em;width:5em;color:#626262;margin-left:-2.5em;position:absolute;left:50%;top:-1em;text-align:center;background:#eaedf2;}
.button.button-light.activated{border: 0;background: none;}
/*.border-top{border-top: 1px solid #eaeaea;}*/
.claafy_banner img{max-width:100%;}
.index_list .col-xs-4{margin:0;padding:0;}
.index_list .col-xs-4 {text-align:center;}
.index_list .col-xs-4:nth-last-child(3n+1)  {text-align:right;}
.index_list .col-xs-4:nth-last-child(3n+3)  {text-align:left;}
.index_list .col-xs-4 img{width:95%;}
.icon_index_active_top a{display:block;}

.item-body img{max-width: 100%;}
.item-image{position: relative;}
.item-image-title{background: rgba(0,0,0,.5);color: #fff;position: absolute;width: 100%;left: 0;bottom: 0;padding: 0.65em 0;}

div .product_content_info{margin: 0 0 0em;padding:0.5em 0;}
div .product_content_info div{padding:0 1em;}
.product_content_info h4{color:#000;}
.product_content_info del{color:#ccc;}
.product_content_info b{font-size: 1.6em;color: #F60;text-decoration: initial;vertical-align: middle;}
.product_content_info p{margin-bottom:0;}
.product_content_sn p{padding: 1em 1em;margin-bottom: 0;line-height}
.product_content_sn{border-top: 1px solid #eaeaea;}
.product_content_sn:nth-last-child(1) {
    border-bottom: 1px solid #eaeaea;
}
.text_red{color:#dc251d;}
.text_gray{color:#9b9b9b;}
.posrelative{position: relative;}
.button-clear.text_black,
.clear_color .text_black{color:#5b5b5b;}
.thisnum{min-width: 1em;}
.mycartlist_content  li span,
.product_content_sn li span{font-size:2em;width:1.5em;height:1.5em;line-height:1.35em;border-radius:1.5em;border:1px solid #e4e4e4;display:block;color:#979797;}
.cartlist{position:relative;}
.icon_jisuan{position:absolute;right: 0;bottom: 0;}
.product_content_sn ul{padding: 1em 0 0;}
.product_content_content{padding: 1em;margin-bottom:1em; }
.product_content_content dt{border-bottom: 1px solid #eaeaea;padding-bottom: 1em;margin-bottom: 1em;}

.mycartlist{padding-bottom:3.5em;}
.max100img{max-width: 100%;}
.mycartlist .cartlist img{max-width: 100%;float:left;}
body  .row + .cartlist  {border-top:1px solid #dcdcdc;margin-top:5px;margin-top:0;}
.mycartlist h4{font-size:1em;color:#7b7b7b;padding:1em 0.65em;border-bottom:1px solid #dcdcdc;margin-bottom:0;}

.mycartlist_content{margin-bottom:1em;}
.thumb { width: 24px; height: 24px;float: none; position: relative;top: 7px;}
form .progress {line-height: 15px;}
.progress {display: inline-block; width: 100px;border: 3px groove #CCC;}
.progress div {font-size: smaller;background: orange;width: 0;}

#footmenu .row{background: #fff;text-align: center;box-shadow:0 0 3px rgba(0,0,0,0.1);padding:0;}
#footmenu a{padding: 0.55em 0 0;text-decoration:none;}
#footmenu a p{color: #7b7b7b;padding: 0.35em 0 0;font-size:0.75em;margin-bottom:0.35em;font-style:normal;text-decoration:none;}
.icon_carts,
#footmenu .row span{background: url(../img/icon_footmenu.png);height: 1.5em;width: 1.5em;display:block;margin: 0 auto;background-position-x: 0;background-size:3em auto;}
#footmenu .row a.active,
#footmenu .row a.active p{color: #dc251d;}
#footmenu .row a.active span{background-position-x: 1.5em;}
#footmenu .row a:nth-child(2) span{background-position-y: -1.5em;}
#footmenu .row a:nth-child(3){background-color:#dc251d;}
#footmenu .row a:nth-child(3) p{color: #fff;}
#footmenu .row a:nth-child(3) span{background-position-y: -3em;}
.icon_carts,
#footmenu .row a:nth-child(4) span{background-position-y: -4.5em;}
#footmenu .row a:nth-child(5) span{background-position-y: -6em;}
.col-xs-5ths{ width:20%; float:left;}
.userindex_info header{
	text-align:center;
	background:-moz-linear-gradient(top,#ff1704,#ff4e0d);/*火狐*/   
    background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#ff1704), to(#ff4e0d));/*谷歌*/
	padding:0.65em 0 1em;
}
.userindex_info header img{
	width:5em;
	border-radius:4em;
	border:0.2em solid #fff;
}

.userindex_info header p{
	font-size:1.2em;
	color:#fff;
	padding:0.35em 0 0;
}
.userindex_info header p a{
	color:#fff;
	text-decoration:underline;
}
.userindex_info .order a{color:#757575;display: block;}
.userindex_info .order{
	background:#fff;
	text-align:center;
}
.userindex_info .order li{
	position:relative;
	font-size:1em;
	line-height:3em;
	padding:0.35em 0;
}
.userindex_info .order li i{
	white-space:nowrap;
	position:absolute;
	background: #fff;
	right:10%;
	top:0.5em;
	width:1.5em;
	height:1.5em;
	border-radius:1.5em;
	border:1px solid #e0524e;
	font-size:0.85em;
	vertical-align:middle;
	line-height:1.5em;text-align:center;
	color:#e0524e;
	text-decoration:none;
	font-style:normal;
	padding:0;margin:0;
	text-align:center;
}
.user_list_x  .icon:before{height: 1em;width: 1em;display:inline-block;background: url(../img/userindex_icon.png) no-repeat;background-position-x: 0;background-size:100% auto;text-indent: -999px;}
.user_list_x  .icon_telephone:before{background-position-y: -5em;}
.user_list_x  .icon_logo:before{background-position-y: -6em;}
.user_list_x  .icon_coupon:before{background-position-y: -2em;}
.user_list_x  .icon_charitable:before{background-position-y: -4em;}
.user_list_x  .icon_indiana:before{background-position-y: -3em;}
.user_list_x  .icon_order:before{background-position-y: -1em;}
.user_list_x  .item{border-color: #eee;}
.user_list_x  .item:nth-child(1){border-top:0 ; }
.user_list_x  .item:nth-last-child(1){border-bottom:0 ; }


.user_list_x a.logout{color:#dc251d;text-decoration:none;}

.login{width:90%;margin:2em auto;}
.login .row{margin:0;}
.itemRight{position:relative;width:100%;}
.itemRight div{position:absolute;right:0;top:0;width:2em;font-size:1.5em;line-height:2.2em;text-align: center;z-index: 9999;}
.itemRight.codeImg div{right:1em;top:3px;width:100px;font-size:1.5em;line-height:2.2em;text-align: center;z-index: 9999;}
.login .large-input{padding:0.5em 0;border-radius:2em;background:#fff;}
.login .large-input .col{margin:0;padding:0;}
.login .large-input input{background:none;border:0;}
.login .submit{padding:1em 0;border:0;color:#fff;border-radius:2em;background:#dc251d;display:block;width:100%;}
.login .item-toggle{background:none;border:0;}
.login label{border-radius:2em ;margin-bottom: 0.65em;}
.login label img{margin-right: 1em; }

.index_nav_icon  span{background: url(../img/index_nav_icon.png);height: 1.5em;width: 1.5em;display:block;margin: 0em auto;background-position-x: 0;background-size:1.5em auto;}
.index_nav_icon  a:nth-child(2) span{background-position-y: -1.5em;}

.icon_index_active{background:#fff;text-align:center;}
.icon_index_active b{color:#ffc600;}
body .icon_index_active_top{border-bottom:1px solid #dcdcdc;padding:1em 0;}
.icon_index_active_top span{background: url(../img/icon_index_active_top.png) no-repeat;height: 1em;width: 1em;display:inline-block;background-position-x: 0;background-size:1em auto;vertical-align:middle;}
.icon_index_active_top  div:nth-child(2) span{background-position-y: -1em;}
.icon_index_active_top  div:nth-child(3) span{background-position-y: -2em;}
.icon_index_active_top  div{border-right:1px solid #aeaeae;color:#6c6c6c;}
.icon_index_active_top  div:nth-last-child(1){border-right:0;}


body .icon_index_active .icon_index_active_bot{padding:0em 0 0.55em;width:100%;margin:0 auto;}

.icon_index_active_bot span{background: url(../img/icon_index_active_bot.png) no-repeat;height: 5em;width: 5em;display:block;background-position-x: 0;background-position-y: 0em;background-size:5em auto;vertical-align:middle;margin:0.15em auto;}
.icon_index_active_bot  a:nth-child(3) span{background-position-y: -5em;}
.icon_index_active_bot {}
.icon_index_active_bot  a p{margin:1em 0;line-height: 3em;}
.icon_index_active_bot  a:nth-child(2) p{border-right: 1px solid #ededed;    margin:1em 0;}



#myTab{background:#fff;margin-bottom:1em;}
#myTab li{display:inline-block;padding:1em;text-align:center;border-bottom:2px solid #fff;}
#myTab li a{color:#696969;}
#myTab li.active{border-bottom:2px solid #dc251d;color:#dc251d;}
#myTab li.active a{color:#696969;}

#productlist{padding-top:0.85em;}
#myTabContent .ng-scope{width:47%;float:left;overflow:hidden;background:#fff;text-align:center;margin:0 1.5% 0.65em;padding:0;}
#myTabContent .ng-scope img{width:100%;}
#myTabContent .ng-scope p{background:#f8f8f8;padding:1em;margin-bottom:0;}
#myTabContent .ng-scope a {color:#333;text-decoration:none;}
#myTabContent .ng-scope p .price{color:#dc251d;}

.addcart{padding:0.65em;text-align:right;}
.mybtn{
	background: url(../img/btn.png) no-repeat;height: 3em;width:9.5em;line-height:1em;color:#fff;background-position-x: center;background-size:auto 6em;vertical-align:middle;margin:0.15em auto;margin-right:0.65em;
	text-align:center;padding:0.85em 2em;
}
.btn_add_cart{background-position-y: -3em;}
.btn_buy{background-position-y: 0em;}
.slider img{ width: 100%;float:left;}


.list-inline li{display:inline-block;}
.mycartlist_content .list:last-child {
    margin-bottom: 1em;
}
.cartfoot{padding:0;}

ion-footer-bar .item-checkbox{padding-top: 0.65em;padding-bottom: 0.65em;}
.cartfoot .col{padding:0;}
.cartfoot .col span{display: inline-block;height: 44px;line-height: 44px;}
.cartfoot .col:nth-child(1){}
.cartfoot .col:nth-last-child(2){background:#ff9402;color:#fff;font-size:2em;}
.cartfoot .col-20 i{font-size:1.5em;display:block;}
.addIrderBot .col-30,
.cartfoot .col:nth-last-child(1){background:#dc251d;color:#fff;}
.selectInput_all{position: relative;top:.35em;margin-right:0.5em;}
 label.checkbox{padding: 0;}
 label.checkbox span{position:relative;display:inline-block;font-size:1em;line-height: 1em;top: -0.35em;}
 label.checkbox::before{
    content: "\f401";
    display: inline-block;
    font-family: "Ionicons";
    font-size: 2em;
    color: #848484;

}
label.checkbox.active::before{
/*.getGoodsCheckbox .active::before, .mycartlist .active::before {*/
    content: "\f3ff";
    display: inline-block;
    font-family: "Ionicons";
    font-size: 2em;
    color: #dc251d;
}
.modal-top-1{margin-top: 1em;}
.getGoods .ion-checkmark:before{color:#66cc33 ;}
.btn_tijiao{background: #dc251d;color: #fff;height:inherit;line-height:44px;padding: 0;}
.mycartlist .selectInput input,
.mycartlist .selectInput_all input{display:none;}

body  .row + .addessesstatus{margin-top:10px;}
.addessesstatus .col{padding:0.65em;}

nav.head p{padding:1em 0.65em;text-align:left;margin-bottom:0;}
nav.head a{color:#000;}
nav.head a i{color:#9d9d9d;}
.receivelist ul li{margin-bottom:10px;}
.receivelist ul li p{margin-bottom:10px;padding:10px;}
.receivelist ul li dl{border-top:1px solid #eeeeee;padding:10px;margin-bottom:0;color:#757575;}
.receivelist ul li dl dd:nth-child(1){color:#fe6900;}
.addSit{text-align:center;padding:1em 0 1.2em;color:#fc6b34;text-decoration:underline;}

.edit_userinfo dl{margin-bottom:0;}
.edit_userinfo dl select{padding:1em;border:0;font-size:1.2em;}
.edit_userinfo .item-input{border-color: #eee;}

.edit_userinfo .text_red{display:block;line-height:2em;}
.edit_userinfo input[name=type]{border:1px solid #fc6b34;}
.item-radio input:checked+.radio-content .item-content {
    background: #fff;
}

.orderlist ul.nav {color:#757575;margin-bottom:10px;padding:0;}
.orderlist ul.nav li{padding:0.65em 0;border-bottom:2px solid #fff;}
.orderlist ul.nav .active{border-bottom: 2px solid #dc251d;color: #dc251d;}
.orderlist h3{padding:1em 10px;font-size:1em;color:#696969;margin-bottom:0;}
.orderlist .listContent{background:#f7f7f7;margin-bottom:10px;}
.orderlist .listContent header{border-bottom:1px solid #eee;color:#696969;}
.orderlist .listContent header i{font-size:1.8em;}
body .row + .listContentImg{padding:0.65em 0 0.65em;}
body .row + .listContentImg img{padding:0 10px;}
.orderlist .listContentImg h4{height:4em;line-height:2em;margin-top:0;margin-bottom:1em;font-size:1em;}
.orderlist .listContentImg .col-20{color:#696969;margin-top: 0px;font-size: 1em;line-height: 2em;text-align:right;padding-right:1em;}

.orderlist .listContent footer{border-top:1px solid #eee;}
.orderlist .listContent footer p{color:#696969;}
.orderlistBtn a{border-radius:2em;font-size: 0.85em;min-height:2.65em;line-height: 2.65em;}

.pay .listContent header {
  
}
.pay .item:nth-child(1){border:0;}
.btn-pay{
	background:#dc251d;
	box-shadow: 1px 3px 5px rgba(220,37,29,.58);
	text-align:center;
	color:#fff;
	display: block;
	width: 13em;
	text-align: center;
	padding: 1.35em 0em;
	border-radius: 3em;
	margin: 1.5em auto 0;
}
.payOrder{margin-top:3em;}
.tab-item-active{color:#dc251d;}

.tab-nav .tab_active{background:#dc251d;color:#fff;opacity: 1;}

.redNav{background:#ff1704 ;}
.redNav button{background:none;color:#fff;}
.bar.item-input-inset .item-input-wrapper,
.bar.item-input-inset .item-input-wrapper input[type="search"]{background:#fff;border-radius:34px;height:34px;line-height:34px;    padding-top: 0px;padding-bottom:0;margin-top:0px;}
body .bar-footer.has-tabs{border:0;}

.disblock{display: block;}
.bar.pContent{text-align: right;width: 100%;min-height:3.5em ;}
body .bar.pContent .col{}
body .bar .button-bar>.button,body  .bar .buttons>.button{
	margin-right: 10px;border-radius:2em ;
	
    padding: 0em 1.5em;
    float: right;
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    display: inline-block;
}
.pContent button.button-energized {
    border-color: transparent;
    background-color: #fe9402;
    color: #fff;
	border-color:#ff5001;
}
.pContent button.button-assertive {
    border-color: transparent;
    background-color: #ff1704;
    color: #fff;
	border-color:#e20701;
}



.tab_active i:before {
    content: " ";
    display: block;
    background: url(../img/activity.png) no-repeat center;
    background-size: auto 85%;
    height: 32px;
}
.bar-footer,
.tab-nav {
    padding: 0;
    border-top: none !important;
    border-bottom: none;
    background-position: top;
    background-size: 100% 0px;
    background-repeat: no-repeat;
    box-shadow: 0 0 3px rgba(0,0,0,.05);
}
nav.classfy{padding:0;margin-bottom:1em;}
nav.classfy a{padding:0.85em;border-bottom:2px solid #fff;}
nav.classfy a.active{padding:0.85em;border-bottom:2px solid #dc251d;color: #dc251d;}

.news{display:block;width:34px;height:34px;float:right;background: url(../img/news.png) no-repeat center right;background-size:24px auto;}
ion-header-bar.nav_red .sit{white-space: nowrap;color:#fff;display:block;height:34px;line-height:34px;}
ion-header-bar.nav_red .ion-ios-search:before {
   font-size:1.5em;line-height:2em;
}
　::-webkit-input-placeholder { /* WebKit browsers */

　　color:#aaa;

　　}

　　:-moz-placeholder { /* Mozilla Firefox 4 to 18 */

　　color:#aaa;

　　}

　　::-moz-placeholder { /* Mozilla Firefox 19+ */

　　color:#aaa;

　　}

　　:-ms-input-placeholder { /* Internet Explorer 10+ */

　　color:#aaa;

　　}
ion-header-bar.nav_red .col-10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 15%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 15%;
    -ms-flex: 0 0 15%;
    flex: 0 0 15%;
    max-width: 15%;
}
ion-header-bar.nav_red .col-80 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 70%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 70%;
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    max-width: 70%;
}
.tabs_my_icon .tab-item .icon{font-size:2.8em;margin-top: 0.1em;}
.tabs_my_icon .tab-item .icon:before {
    content: "";
	display:inline-block;
	width:1em;height:1em;
	background: url(../img/tabs_icon.png) no-repeat center;
	background-size: 100% auto;
	background-position-x:0;
	background-position-y:0;
}

.tabs_my_icon .tab-item  .icon.ion-ios-home-outline:before {background-position-y:-6.4em;}
.tabs_my_icon .tab-item  .icon.ion-ios-home:before {background-position-y:-5.6em;}
.tabs_my_icon .tab-item  .icon.ion-navicon:before {background-position-y:-4.8em;}
.tabs_my_icon .tab-item  .icon.ion-android-menu:before {background-position-y:-4em;);}
.tabs_my_icon .tab-item  .icon.ion-ios-cart-outline:before {background-position-y:-3.2em;}
.tabs_my_icon .tab-item  .icon.ion-ios-cart:before {background-position-y:-2.4em;}
.tabs_my_icon .tab-item  .icon.ion-ios-person-outline:before {background-position-y:-1.6em;}
.tabs_my_icon .tab-item  .icon.ion-ios-person:before {background-position-y:-0.8em;}

.tabs_my_icon .tab-item  .icon.ion-ios-home-outline:before {background-position-y:-8em;}
.tabs_my_icon .tab-item  .icon.ion-ios-home:before {background-position-y:-7em;}
.tabs_my_icon .tab-item  .icon.ion-navicon:before {background-position-y:-6em;}
.tabs_my_icon .tab-item  .icon.ion-android-menu:before {background-position-y:-5em;);}
.tabs_my_icon .tab-item  .icon.ion-ios-cart-outline:before {background-position-y:-4em;}
.tabs_my_icon .tab-item  .icon.ion-ios-cart:before {background-position-y:-3em;}
.tabs_my_icon .tab-item  .icon.ion-ios-person-outline:before {background-position-y:-2em;}
.tabs_my_icon .tab-item  .icon.ion-ios-person:before {background-position-y:-1em;}

.couponList{
	background: url(../img/coupon_list_bg.png) no-repeat center;
	background-size: 100% 100%;
	position: relative;
}
.couponList .item{
	border: 0;
	background: none;
}
.couponList .couponListBtn{
	text-align: center;
	padding: 1em 0;
}
.couponContent header .price,
.couponList .couponListBtn .price{
	color: #FF3C0F;
}
.couponContent header .price span,
.couponList .couponListBtn .price span{
	font-size:1.5em ;
}

.couponContent{
	background: url(../img/qrcodeBg.png) no-repeat top left;
	background-size: 100% auto;
	position: relative;
	width: 90%;
	margin: 1em auto;
	
}
.couponContent header{
	width: 90%;
	margin: 0em auto;
	padding: 1em 0;
}
.couponContent header .price{
	text-align: center;
	padding-top:1em ;
	
}
.couponContent header h2{
	font-size: 1.2em;
}
.couponContent header p{
	color:#696969 ;
}
.couponContent footer h3{margin: 0em 0 0;font-size: 1.2em;}
.couponContent footer{
	text-align: center;
	background: #fff;
	margin-top: 3em;
}
.couponContent footer img{
	max-width: 90%;
}
.couponContent footer div{
	color:#696969 ;
}
.newsContent {margin-top:1em;}
.newsContent nav {padding: 1em 0;}
.newsContent nav h2{
	font-size: 1.2em;
}
.newsContent nav p{
	color: #7d7d7d;
}
.orderContent{margin-top: 1em;overflow: visible;}
.orderContent header{position: relative;overflow: visible;text-indent: 3em;}
.orderContent .shopImg{position: absolute;left:1em;top:-0.5em;border:2px solid #fff; width: 2.5em;height: 2.5em;border-radius:2.5em;}
.orderContent .item-divider+.item,
.orderContent .item-divider{border:0;}

progress {
    display: inline-block;
    width: 100%;
    height: 100%;
    border: 1px solid #ef473a;  
    border-radius:1em ;
    background-color:#ffb7b7;
    color: #ef473a; /*IE10*/
   margin: 0;
   float: left;
}
/*ie6-ie9*/
progress ie {
    display:block;
    height: 100%;
    background: #ef473a;
    border-radius:1em ;
}

progress::-moz-progress-bar { background: #ef473a; 
    border-radius:1em ;}
progress::-webkit-progress-bar { background: #ffb7b7; 
    border-radius:1em ;}
progress::-webkit-progress-value  { background: #ef473a; 
    border-radius:1em ;}

body big{font-size: larger;}
body small {
    font-size: smaller!important;
}
.listprogress{position: relative;height: 1.25em;}
.listprogress div.progress_text{position: absolute;width: 100%;height: 100%;color:#fff;left:0;top: 0;font-size: 1em;line-height:1.25em;text-align: center;}

.lanren .ribbon-lanren {
    height: 8em;
    overflow: hidden;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 8em;
    z-index: 9999;
}

.lanren .ribbon::before {
    left: 0;
}
.lanren .ribbon::before, .ribbon::after {

    content: "";
    position: absolute;
}
.lanren .ribbon::after {
    right: 0;
}
.lanren .ribbon::before, .ribbon::after {

    content: "";
    position: absolute;
}
.lanren .ribbon {
    background-color: #ef4e3a;
    color:#fff;
    font: 1.5em ;
    font-weight: bold;
    left: -5px;
    padding: 0.35em 0;
    position: relative;
    text-align: center;
    top: 1em;
    transform: rotate(45deg);
    width: 12em;
    border: 1px solid #cc2311;
}
.lanren .ribbon_green{
    background-color: #66cc33;
    border-color:#498f24;
}
.lanren .ribbon_gray{
    background-color: #444;
    border-color:#111;
}
.indiana_buy_button .indiana_buy_button_top span.button.button-clear,
.indiana_buy_button .indiana_buy_button_top .button.icon:hover,
.indiana_buy_button .indiana_buy_button_top .button.icon{color: #444;}
.indiana_buy_button{width: 100%;position: absolute;bottom:100%;left: 0;background: #fff;z-index: 9999;color: #444;}
.bar.bar-assertive .title{left: 0!important;right: 0!important;}


 .item.active,

.item.activated,

.item-complex.active .item-content,

.item-complex.activated .item-content,

.item .item-content.active,

.item .item-content.activated {

border-color: #fff;

background-color: #fff;

}


